<ng-container *ngIf="!showOnlyUiSamples; else uiSamplesRef">
    <div class="ras-container ras-mx-auto">
        <!-- <div class="search-bar">
        <input
          type="text"
          [(ngModel)]="searchText"
          (keyup)="getKeyByValue()"
          class="form-control"
          placeholder="Search request here..."
        />
      </div> -->

        <ras-card rasCardSuccess [isSimpleBanner]="true">
            <h3 class="ras-text-center">I am listening.... Ping me!</h3>
        </ras-card>

        <div *ngFor="let data of objectKeys(filteredRequests)">
            <ras-card>
                <ng-template rasCardHead>Request Pending</ng-template>
                <div class="ras-max-h-60 ras-overflow-auto">
                    <ngx-json-viewer [json]="requests[data]"></ngx-json-viewer>
                </div>

                <textarea
                    placeholder="Write your response here..."
                    [(ngModel)]="responses[data]"
                    class="ras-w-full ras-h-28 ras-my-4 ras-p-2 ras-rounded ras-border ras-border-solid ras-border-dark ras-shadow-md"
                >
                </textarea>
                <ng-template rasCardFoot extraClass="ras-flex ras-justify-end">
                    <ras-button rasBtnDark (onClick)="sendResponse(data)"
                        >Send Response</ras-button
                    >
                </ng-template>
            </ras-card>
        </div>
    </div>
</ng-container>
<ng-template #uiSamplesRef>
    <ras-ui-samples></ras-ui-samples>
</ng-template>
