<div class="container">
  <!-- <div class="search-bar">
    <input
      type="text"
      [(ngModel)]="searchText"
      (keyup)="getKeyByValue()"
      class="form-control"
      placeholder="Search request here..."
    />
  </div> -->

  <h3>I am listening.... Ping me!</h3>

  <div class="flex" *ngFor="let data of objectKeys(filteredRequests)">
    <div class="each">
      <div class="info">
        <pre>   {{ requests[data] | json }}</pre>
      </div>

      <textarea
        rows="25"
        cols="100"
        placeholder="Write your response here..."
        [(ngModel)]="responses[data]"
      >
      </textarea>

      <button (click)="sendResponse(data)">Send Response</button>
    </div>
  </div>
</div>
