
@mixin btn-variables-mixin($color, $text)
    --buttonColor: var(--#{$color})
    --buttonText: var(--#{$text})

// STROKED Button START
.ras-btn-stroked
    --buttonBgOpacity: 0
    background-color: rgba(var(--buttonColor), var(--buttonBgOpacity))
    color: rgb(var(--buttonColor))
    border-color: rgb(var(--buttonColor))

    &:hover
        --buttonBgOpacity: 1
        color: rgb(var(--buttonText))

    &:active
        --buttonBgOpacity: 0.8
        color: rgb(var(--buttonText))

// STROKED Button END    

// FILLED Button START
.ras-btn-filled
    --buttonBgOpacity: 1
    background-color: rgba(var(--buttonColor), var(--buttonBgOpacity))
    color: rgb(var(--buttonText))
    border-color: rgb(var(--buttonColor))

    &:hover
        --buttonBgOpacity: 0.8

    &:active
        --buttonBgOpacity: 0.9

// FILLED Button END



    