@mixin card-variable-mixin($color)
    --cardColor: var(--#{$color}Var)
    --cardColorLightness: var(--#{$color}Lightness)

    
.rasc-card
    --shadowOpacity: 0.3
    --headOpacity: 0.2
    --footOpacity: 0.2
    --bodyOpacity: 0.1
    border-color: hsl(var(--cardColor), var(--cardColorLightness))

    &.is-simple-banner
        box-shadow: none
        color: hsl(var(--cardColor), var(--cardColorLightness))

    .rasc-card-head
        background-color: hsla(var(--cardColor), var(--cardColorLightness), var(--headOpacity))

    .rasc-card-body
        background-color: hsla(var(--cardColor), var(--cardColorLightness), var(--bodyOpacity))

    .rasc-card-foot
        background-color: hsla(var(--cardColor), var(--cardColorLightness), var(--footOpacity))