<div
    class="rasc-card ras-m-4 ras-rounded-md ras-overflow-hidden ras-border ras-border-solid rasc-card-{{
        cardColorType
    }} rasc-shadow-{{ raisedIndex }}"
    [class.is-simple-banner]="isSimpleBanner"
>
    <div
        class="rasc-card-head ras-p-3"
        *ngIf="
            !isSimpleBanner && cardHeadTemplate && cardHeadTemplate.templateRef
        "
    >
        <ng-container
            [ngTemplateOutlet]="cardHeadTemplate.templateRef"
        ></ng-container>
    </div>

    <div class="rasc-card-body ras-px-3 ras-py-4">
        <ng-content></ng-content>
    </div>

    <div
        *ngIf="
            !isSimpleBanner && cardFootTemplate && cardFootTemplate.templateRef
        "
        class="rasc-card-foot ras-p-3"
        [ngClass]="cardFootTemplate.extraClass"
    >
        <ng-container
            [ngTemplateOutlet]="cardFootTemplate.templateRef"
        ></ng-container>
    </div>
</div>
