<!-- Heading Template START-->
<ng-template #sampleHeadingTemplate let-heading="heading">
    <div
        class="ras-py-3 ras-px-4 ras-mb-4 ras-border-b-2 ras-border-solid ras-border-secondary-default"
    >
        {{ heading }}
    </div>
</ng-template>
<!-- Heading Template END-->

<!-- Divider Template START-->
<ng-template #sampleDividerTemplate>
    <div
        class="ras-my-4 ras-border-b-2 ras-border-solid ras-border-secondary-default"
    ></div>
</ng-template>
<!-- Divider Template END-->

<div class="ras-w-full ras-bg-common ras-mx-auto">
    <ng-container
        [ngTemplateOutlet]="sampleHeadingTemplate"
        [ngTemplateOutletContext]="{
            heading: 'Input Fields'
        }"
    ></ng-container>

    <ras-input-field class="ras-w-full"></ras-input-field>

    <ng-container [ngTemplateOutlet]="sampleDividerTemplate"></ng-container>

    <ng-container
        [ngTemplateOutlet]="sampleHeadingTemplate"
        [ngTemplateOutletContext]="{
            heading: 'Buttons'
        }"
    ></ng-container>

    <!-- STROKED Buttons START -->
    <div class="ras-p-3">
        <ras-button rasBtnPrimary class="ras-mx-2">Button</ras-button>
        <ras-button rasBtnSecondary class="ras-mx-2">Button</ras-button>
        <ras-button rasBtnSuccess class="ras-mx-2">Button</ras-button>
        <ras-button rasBtnWarning class="ras-mx-2">Button</ras-button>
        <ras-button rasBtnDanger class="ras-mx-2">Button</ras-button>
        <ras-button rasBtnInfo class="ras-mx-2">Button</ras-button>
        <ras-button rasBtnLight class="ras-mx-2">Button</ras-button>
        <ras-button rasBtnDark class="ras-mx-2">Button</ras-button>
    </div>
    <!-- STROKED Buttons END -->

    <!-- FILLED Button START -->
    <div class="ras-p-3">
        <ras-button rasBtnFilled rasBtnPrimary class="ras-mx-2"
            >Button</ras-button
        >
        <ras-button rasBtnFilled rasBtnSecondary class="ras-mx-2"
            >Button</ras-button
        >
        <ras-button rasBtnFilled rasBtnSuccess class="ras-mx-2"
            >Button</ras-button
        >
        <ras-button rasBtnFilled rasBtnWarning class="ras-mx-2"
            >Button</ras-button
        >
        <ras-button rasBtnFilled rasBtnDanger class="ras-mx-2"
            >Button</ras-button
        >
        <ras-button rasBtnFilled rasBtnInfo class="ras-mx-2">Button</ras-button>
        <ras-button rasBtnFilled rasBtnLight class="ras-mx-2"
            >Button</ras-button
        >
        <ras-button rasBtnFilled rasBtnDark class="ras-mx-2">Button</ras-button>
    </div>
    <!-- FILLED Button END -->
    <ng-container [ngTemplateOutlet]="sampleDividerTemplate"></ng-container>

    <!-- ------------------------------------------------------------------------------------------ -->

    <ng-container
        [ngTemplateOutlet]="sampleHeadingTemplate"
        [ngTemplateOutletContext]="{
            heading: 'Modal'
        }"
    ></ng-container>
    <!-- Modal START -->
    <div class="ras-p-3">
        <ras-button rasBtnSecondary class="ras-mx-2" (onClick)="openModal()"
            >Open Modal</ras-button
        >
    </div>
    <!-- Modal END -->
    <ng-container [ngTemplateOutlet]="sampleDividerTemplate"></ng-container>

    <!-- ------------------------------------------------------------------------------------------ -->

    <ng-container
        [ngTemplateOutlet]="sampleHeadingTemplate"
        [ngTemplateOutletContext]="{
            heading: 'Card'
        }"
    ></ng-container>

    <!-- Card START -->

    <ras-card-ui-samples></ras-card-ui-samples>

    <!-- Card END -->

    <ng-container [ngTemplateOutlet]="sampleDividerTemplate"></ng-container>

    <ng-container
        [ngTemplateOutlet]="sampleHeadingTemplate"
        [ngTemplateOutletContext]="{
            heading: 'Icon'
        }"
    ></ng-container>
    <ng-template rasIcon [icon]="icon"></ng-template>

    <ng-container [ngTemplateOutlet]="sampleDividerTemplate"></ng-container>
</div>
