::-webkit-scrollbar
	width: 5px

::-webkit-scrollbar-track
	border-radius: 10px
	background-color: rgba(var(--scrollColorVar), 0.25)

::-webkit-scrollbar-thumb
	border-radius: 10px
	background-color: rgba(var(--scrollColorVar), 0.75)