:root
    --primaryVar: 217, 96, 152
    --secondaryVar: 50, 82, 136
    --successVar: 63, 167, 150
    --dangerVar: 230, 9, 101
    --warningVar: 255, 189, 53
    --infoVar: 84, 140, 255
    --commonBgVar: 250, 238, 231
    --lightVar: 255, 255, 255
    --darkVar: 0, 0, 0
    --primaryColor: rgb(var(--primaryVar))
    --secondaryColor: rgb(var(--secondaryVar))
    --successColor: rgb(var(--successVar))
    --dangerColor: rgb(var(--dangerVar))
    --warningColor: rgb(var(--warningVar))
    --infoColor: rgb(var(--infoVar))
    --commonBgColor: rgb(var(--commonBgVar))
    --lightColor: rgb(var(--lightVar))
    --darkColor: rgb(var(--darkVar))

    