<!-- NORMAL Buttons START -->
<div class="ras-p-3">
    <ras-button [color]="themeService.ThemeColor.PRIMARY" class="ras-mx-2"
        >Button</ras-button
    >
    <ras-button [color]="themeService.ThemeColor.SECONDARY" class="ras-mx-2"
        >Button</ras-button
    >
    <ras-button [color]="themeService.ThemeColor.ACCENT" class="ras-mx-2"
        >Button</ras-button
    >
    <ras-button [color]="themeService.ThemeColor.SUCCESS" class="ras-mx-2"
        >Button</ras-button
    >
    <ras-button [color]="themeService.ThemeColor.WARNING" class="ras-mx-2"
        >Button</ras-button
    >
    <ras-button [color]="themeService.ThemeColor.ERROR" class="ras-mx-2"
        >Button</ras-button
    >
    <ras-button [color]="themeService.ThemeColor.INFO" class="ras-mx-2"
        >Button</ras-button
    >
</div>
<!-- NORMAL Buttons END -->

<!-- NORMAL with LOADER Buttons START -->
<div class="ras-p-3">
    <div class="ras-py-2 ras-px-3">LOADER</div>
    <ras-button
        [color]="themeService.ThemeColor.PRIMARY"
        class="ras-mx-2"
        [loader]="true"
        >Button</ras-button
    >
    <ras-button
        [color]="themeService.ThemeColor.SECONDARY"
        class="ras-mx-2"
        [loader]="true"
        >Button</ras-button
    >
    <ras-button
        [color]="themeService.ThemeColor.ACCENT"
        class="ras-mx-2"
        [loader]="true"
        >Button</ras-button
    >
    <ras-button
        [color]="themeService.ThemeColor.SUCCESS"
        class="ras-mx-2"
        [loader]="true"
        >Button</ras-button
    >
    <ras-button
        [color]="themeService.ThemeColor.WARNING"
        class="ras-mx-2"
        [loader]="true"
        >Button</ras-button
    >
    <ras-button
        [color]="themeService.ThemeColor.ERROR"
        class="ras-mx-2"
        [loader]="true"
        >Button</ras-button
    >
    <ras-button
        [color]="themeService.ThemeColor.INFO"
        class="ras-mx-2"
        [loader]="true"
        >Button</ras-button
    >
</div>
<!-- NORMAL with LOADER Buttons END -->

<!-- OUTLINE Button START -->
<div class="ras-p-3">
    <div class="ras-py-2 ras-px-3">OUTLINE</div>
    <ras-button
        [color]="themeService.ThemeColor.PRIMARY"
        type="outline"
        class="ras-mx-2"
        >Button</ras-button
    >
    <ras-button
        [color]="themeService.ThemeColor.SECONDARY"
        type="outline"
        class="ras-mx-2"
        >Button</ras-button
    >
    <ras-button
        [color]="themeService.ThemeColor.ACCENT"
        type="outline"
        class="ras-mx-2"
        >Button</ras-button
    >
    <ras-button
        [color]="themeService.ThemeColor.SUCCESS"
        type="outline"
        class="ras-mx-2"
        >Button</ras-button
    >
    <ras-button
        [color]="themeService.ThemeColor.WARNING"
        type="outline"
        class="ras-mx-2"
        >Button</ras-button
    >
    <ras-button
        [color]="themeService.ThemeColor.ERROR"
        type="outline"
        class="ras-mx-2"
        >Button</ras-button
    >
    <ras-button
        [color]="themeService.ThemeColor.INFO"
        type="outline"
        class="ras-mx-2"
        >Button</ras-button
    >
</div>
<!-- OUTLINE Button END -->

<!-- OUTLINE with LOADER Button START -->
<div class="ras-p-3">
    <div class="ras-py-2 ras-px-3">OUTLINE LOADER</div>
    <ras-button
        [color]="themeService.ThemeColor.PRIMARY"
        type="outline"
        [loader]="true"
        class="ras-mx-2"
        >Button</ras-button
    >
    <ras-button
        [color]="themeService.ThemeColor.SECONDARY"
        type="outline"
        [loader]="true"
        class="ras-mx-2"
        >Button</ras-button
    >
    <ras-button
        [color]="themeService.ThemeColor.ACCENT"
        type="outline"
        [loader]="true"
        class="ras-mx-2"
        >Button</ras-button
    >
    <ras-button
        [color]="themeService.ThemeColor.SUCCESS"
        type="outline"
        [loader]="true"
        class="ras-mx-2"
        >Button</ras-button
    >
    <ras-button
        [color]="themeService.ThemeColor.WARNING"
        type="outline"
        [loader]="true"
        class="ras-mx-2"
        >Button</ras-button
    >
    <ras-button
        [color]="themeService.ThemeColor.ERROR"
        type="outline"
        [loader]="true"
        class="ras-mx-2"
        >Button</ras-button
    >
    <ras-button
        [color]="themeService.ThemeColor.INFO"
        type="outline"
        [loader]="true"
        class="ras-mx-2"
        >Button</ras-button
    >
</div>
<!-- OUTLINE with LOADER Button END -->

<!-- SQUARE Button START -->
<div class="ras-p-3">
    <div class="ras-py-2 ras-px-3">SQUARE</div>
    <ras-button
        [color]="themeService.ThemeColor.PRIMARY"
        shape="square"
        class="ras-mx-2"
        ><ras-icon [icon]="icon"></ras-icon
    ></ras-button>
    <ras-button
        [color]="themeService.ThemeColor.SECONDARY"
        shape="square"
        class="ras-mx-2"
        ><ras-icon [icon]="icon"></ras-icon
    ></ras-button>
    <ras-button
        [color]="themeService.ThemeColor.ACCENT"
        shape="square"
        class="ras-mx-2"
        ><ras-icon [icon]="icon"></ras-icon
    ></ras-button>
    <ras-button
        [color]="themeService.ThemeColor.SUCCESS"
        shape="square"
        class="ras-mx-2"
        ><ras-icon [icon]="icon"></ras-icon
    ></ras-button>
    <ras-button
        [color]="themeService.ThemeColor.WARNING"
        shape="square"
        class="ras-mx-2"
        ><ras-icon [icon]="icon"></ras-icon
    ></ras-button>
    <ras-button
        [color]="themeService.ThemeColor.ERROR"
        shape="square"
        class="ras-mx-2"
        ><ras-icon [icon]="icon"></ras-icon
    ></ras-button>
    <ras-button
        [color]="themeService.ThemeColor.INFO"
        shape="square"
        class="ras-mx-2"
        ><ras-icon [icon]="icon"></ras-icon
    ></ras-button>
</div>
<!-- SQUARE Button END -->

<!-- SQUARE with LOADER Button START -->
<div class="ras-p-3">
    <div class="ras-py-2 ras-px-3">SQUARE LOADER</div>
    <ras-button
        [color]="themeService.ThemeColor.PRIMARY"
        shape="square"
        [loader]="true"
        class="ras-mx-2"
    ></ras-button>
    <ras-button
        [color]="themeService.ThemeColor.SECONDARY"
        shape="square"
        [loader]="true"
        class="ras-mx-2"
    ></ras-button>
    <ras-button
        [color]="themeService.ThemeColor.ACCENT"
        shape="square"
        [loader]="true"
        class="ras-mx-2"
    ></ras-button>
    <ras-button
        [color]="themeService.ThemeColor.SUCCESS"
        shape="square"
        [loader]="true"
        class="ras-mx-2"
    ></ras-button>
    <ras-button
        [color]="themeService.ThemeColor.WARNING"
        shape="square"
        [loader]="true"
        class="ras-mx-2"
    ></ras-button>
    <ras-button
        [color]="themeService.ThemeColor.ERROR"
        shape="square"
        [loader]="true"
        class="ras-mx-2"
    ></ras-button>
    <ras-button
        [color]="themeService.ThemeColor.INFO"
        shape="square"
        [loader]="true"
        class="ras-mx-2"
    ></ras-button>
</div>
<!-- SQUARE with LOADER Button END -->

<!-- SQUARE OUTLINE Button START -->
<div class="ras-p-3">
    <div class="ras-py-2 ras-px-3">SQUARE OUTLINE</div>
    <ras-button
        [color]="themeService.ThemeColor.PRIMARY"
        shape="square"
        type="outline"
        class="ras-mx-2"
        ><ras-icon [icon]="icon"></ras-icon
    ></ras-button>
    <ras-button
        [color]="themeService.ThemeColor.SECONDARY"
        shape="square"
        type="outline"
        class="ras-mx-2"
        ><ras-icon [icon]="icon"></ras-icon
    ></ras-button>
    <ras-button
        [color]="themeService.ThemeColor.ACCENT"
        shape="square"
        type="outline"
        class="ras-mx-2"
        ><ras-icon [icon]="icon"></ras-icon
    ></ras-button>
    <ras-button
        [color]="themeService.ThemeColor.SUCCESS"
        shape="square"
        type="outline"
        class="ras-mx-2"
        ><ras-icon [icon]="icon"></ras-icon
    ></ras-button>
    <ras-button
        [color]="themeService.ThemeColor.WARNING"
        shape="square"
        type="outline"
        class="ras-mx-2"
        ><ras-icon [icon]="icon"></ras-icon
    ></ras-button>
    <ras-button
        [color]="themeService.ThemeColor.ERROR"
        shape="square"
        type="outline"
        class="ras-mx-2"
        ><ras-icon [icon]="icon"></ras-icon
    ></ras-button>
    <ras-button
        [color]="themeService.ThemeColor.INFO"
        shape="square"
        type="outline"
        class="ras-mx-2"
        ><ras-icon [icon]="icon"></ras-icon
    ></ras-button>
</div>
<!-- SQUARE OUTLINE Button END -->

<!-- SQUARE OUTLINE with LOADER Button START -->
<div class="ras-p-3">
    <div class="ras-py-2 ras-px-3">SQUARE OUTLINE LOADER</div>
    <ras-button
        [color]="themeService.ThemeColor.PRIMARY"
        shape="square"
        type="outline"
        [loader]="true"
        class="ras-mx-2"
    ></ras-button>
    <ras-button
        [color]="themeService.ThemeColor.SECONDARY"
        shape="square"
        type="outline"
        [loader]="true"
        class="ras-mx-2"
    ></ras-button>
    <ras-button
        [color]="themeService.ThemeColor.ACCENT"
        shape="square"
        type="outline"
        [loader]="true"
        class="ras-mx-2"
    ></ras-button>
    <ras-button
        [color]="themeService.ThemeColor.SUCCESS"
        shape="square"
        type="outline"
        [loader]="true"
        class="ras-mx-2"
    ></ras-button>
    <ras-button
        [color]="themeService.ThemeColor.WARNING"
        shape="square"
        type="outline"
        [loader]="true"
        class="ras-mx-2"
    ></ras-button>
    <ras-button
        [color]="themeService.ThemeColor.ERROR"
        shape="square"
        type="outline"
        [loader]="true"
        class="ras-mx-2"
    ></ras-button>
    <ras-button
        [color]="themeService.ThemeColor.INFO"
        shape="square"
        type="outline"
        [loader]="true"
        class="ras-mx-2"
    ></ras-button>
</div>
<!-- SQUARE OUTLINE with LOADER Button END -->

<!-- CIRCLE Button START -->
<div class="ras-p-3">
    <div class="ras-py-2 ras-px-3">CIRCLE</div>
    <ras-button
        [color]="themeService.ThemeColor.PRIMARY"
        shape="circle"
        class="ras-mx-2"
        ><ras-icon [icon]="icon"></ras-icon
    ></ras-button>
    <ras-button
        [color]="themeService.ThemeColor.SECONDARY"
        shape="circle"
        class="ras-mx-2"
        ><ras-icon [icon]="icon"></ras-icon
    ></ras-button>
    <ras-button
        [color]="themeService.ThemeColor.ACCENT"
        shape="circle"
        class="ras-mx-2"
        ><ras-icon [icon]="icon"></ras-icon
    ></ras-button>
    <ras-button
        [color]="themeService.ThemeColor.SUCCESS"
        shape="circle"
        class="ras-mx-2"
        ><ras-icon [icon]="icon"></ras-icon
    ></ras-button>
    <ras-button
        [color]="themeService.ThemeColor.WARNING"
        shape="circle"
        class="ras-mx-2"
        ><ras-icon [icon]="icon"></ras-icon
    ></ras-button>
    <ras-button
        [color]="themeService.ThemeColor.ERROR"
        shape="circle"
        class="ras-mx-2"
        ><ras-icon [icon]="icon"></ras-icon
    ></ras-button>
    <ras-button
        [color]="themeService.ThemeColor.INFO"
        shape="circle"
        class="ras-mx-2"
        ><ras-icon [icon]="icon"></ras-icon
    ></ras-button>
</div>
<!-- CIRCLE Button END -->

<!-- CIRCLE with LOADER Button START -->
<div class="ras-p-3">
    <div class="ras-py-2 ras-px-3">CIRCLE LOADER</div>
    <ras-button
        [color]="themeService.ThemeColor.PRIMARY"
        shape="circle"
        [loader]="true"
        class="ras-mx-2"
    ></ras-button>
    <ras-button
        [color]="themeService.ThemeColor.SECONDARY"
        shape="circle"
        [loader]="true"
        class="ras-mx-2"
    ></ras-button>
    <ras-button
        [color]="themeService.ThemeColor.ACCENT"
        shape="circle"
        [loader]="true"
        class="ras-mx-2"
    ></ras-button>
    <ras-button
        [color]="themeService.ThemeColor.SUCCESS"
        shape="circle"
        [loader]="true"
        class="ras-mx-2"
    ></ras-button>
    <ras-button
        [color]="themeService.ThemeColor.WARNING"
        shape="circle"
        [loader]="true"
        class="ras-mx-2"
    ></ras-button>
    <ras-button
        [color]="themeService.ThemeColor.ERROR"
        shape="circle"
        [loader]="true"
        class="ras-mx-2"
    ></ras-button>
    <ras-button
        [color]="themeService.ThemeColor.INFO"
        shape="circle"
        [loader]="true"
        class="ras-mx-2"
    ></ras-button>
</div>
<!-- CIRCLE with LOADER Button END -->

<!-- CIRCLE OUTLINE Button START -->
<div class="ras-p-3">
    <div class="ras-py-2 ras-px-3">CIRCLE OUTLINE</div>
    <ras-button
        [color]="themeService.ThemeColor.PRIMARY"
        shape="circle"
        type="outline"
        class="ras-mx-2"
        ><ras-icon [icon]="icon"></ras-icon
    ></ras-button>
    <ras-button
        [color]="themeService.ThemeColor.SECONDARY"
        shape="circle"
        type="outline"
        class="ras-mx-2"
        ><ras-icon [icon]="icon"></ras-icon
    ></ras-button>
    <ras-button
        [color]="themeService.ThemeColor.ACCENT"
        shape="circle"
        type="outline"
        class="ras-mx-2"
        ><ras-icon [icon]="icon"></ras-icon
    ></ras-button>
    <ras-button
        [color]="themeService.ThemeColor.SUCCESS"
        shape="circle"
        type="outline"
        class="ras-mx-2"
        ><ras-icon [icon]="icon"></ras-icon
    ></ras-button>
    <ras-button
        [color]="themeService.ThemeColor.WARNING"
        shape="circle"
        type="outline"
        class="ras-mx-2"
        ><ras-icon [icon]="icon"></ras-icon
    ></ras-button>
    <ras-button
        [color]="themeService.ThemeColor.ERROR"
        shape="circle"
        type="outline"
        class="ras-mx-2"
        ><ras-icon [icon]="icon"></ras-icon
    ></ras-button>
    <ras-button
        [color]="themeService.ThemeColor.INFO"
        shape="circle"
        type="outline"
        class="ras-mx-2"
        ><ras-icon [icon]="icon"></ras-icon
    ></ras-button>
</div>
<!-- CIRCLE OUTLINE Button END -->

<!-- CIRCLE OUTLINE with LOADER Button START -->
<div class="ras-p-3">
    <div class="ras-py-2 ras-px-3">CIRCLE OUTLINE LOADER</div>
    <ras-button
        [color]="themeService.ThemeColor.PRIMARY"
        shape="circle"
        type="outline"
        [loader]="true"
        class="ras-mx-2"
    ></ras-button>
    <ras-button
        [color]="themeService.ThemeColor.SECONDARY"
        shape="circle"
        type="outline"
        [loader]="true"
        class="ras-mx-2"
    ></ras-button>
    <ras-button
        [color]="themeService.ThemeColor.ACCENT"
        shape="circle"
        type="outline"
        [loader]="true"
        class="ras-mx-2"
    ></ras-button>
    <ras-button
        [color]="themeService.ThemeColor.SUCCESS"
        shape="circle"
        type="outline"
        [loader]="true"
        class="ras-mx-2"
    ></ras-button>
    <ras-button
        [color]="themeService.ThemeColor.WARNING"
        shape="circle"
        type="outline"
        [loader]="true"
        class="ras-mx-2"
    ></ras-button>
    <ras-button
        [color]="themeService.ThemeColor.ERROR"
        shape="circle"
        type="outline"
        [loader]="true"
        class="ras-mx-2"
    ></ras-button>
    <ras-button
        [color]="themeService.ThemeColor.INFO"
        shape="circle"
        type="outline"
        [loader]="true"
        class="ras-mx-2"
    ></ras-button>
</div>
<!-- CIRCLE Button END -->

<!-- DISABLED Button START -->
<div class="ras-p-3">
    <div class="ras-py-2 ras-px-3">DISABLED (PRIMARY)</div>
    <ras-button
        [color]="themeService.ThemeColor.PRIMARY"
        [disabled]="true"
        class="ras-mx-2"
        >Button</ras-button
    >
    <ras-button
        [color]="themeService.ThemeColor.PRIMARY"
        class="ras-mx-2"
        [loader]="true"
        [disabled]="true"
        >Button</ras-button
    >

    <ras-button
        [color]="themeService.ThemeColor.PRIMARY"
        type="outline"
        [disabled]="true"
        class="ras-mx-2"
        >Button</ras-button
    >
    <ras-button
        [color]="themeService.ThemeColor.PRIMARY"
        type="outline"
        [loader]="true"
        [disabled]="true"
        class="ras-mx-2"
        >Button</ras-button
    >

    <ras-button
        [color]="themeService.ThemeColor.PRIMARY"
        shape="square"
        [disabled]="true"
        class="ras-mx-2"
        ><ras-icon [icon]="icon"></ras-icon
    ></ras-button>
    <ras-button
        [color]="themeService.ThemeColor.PRIMARY"
        shape="square"
        [loader]="true"
        [disabled]="true"
        class="ras-mx-2"
    ></ras-button>

    <ras-button
        [color]="themeService.ThemeColor.PRIMARY"
        shape="square"
        type="outline"
        [disabled]="true"
        class="ras-mx-2"
        ><ras-icon [icon]="icon"></ras-icon
    ></ras-button>
    <ras-button
        [color]="themeService.ThemeColor.PRIMARY"
        shape="square"
        type="outline"
        [loader]="true"
        [disabled]="true"
        class="ras-mx-2"
    ></ras-button>

    <ras-button
        [color]="themeService.ThemeColor.PRIMARY"
        shape="circle"
        [disabled]="true"
        class="ras-mx-2"
        ><ras-icon [icon]="icon"></ras-icon
    ></ras-button>
    <ras-button
        [color]="themeService.ThemeColor.PRIMARY"
        shape="circle"
        [disabled]="true"
        [loader]="true"
        class="ras-mx-2"
    ></ras-button>

    <ras-button
        [color]="themeService.ThemeColor.PRIMARY"
        shape="circle"
        type="outline"
        [disabled]="true"
        class="ras-mx-2"
        ><ras-icon [icon]="icon"></ras-icon
    ></ras-button>
    <ras-button
        [color]="themeService.ThemeColor.PRIMARY"
        shape="circle"
        type="outline"
        [disabled]="true"
        [loader]="true"
        class="ras-mx-2"
    ></ras-button>
</div>
<!-- DISABLED Button END -->

<!-- NO ANIMATION Button START -->
<div class="ras-p-3">
    <div class="ras-py-2 ras-px-3">
        NO ANIMATION (PRIMARY) - <i>not working as of now</i>
    </div>
    <ras-button
        [color]="themeService.ThemeColor.PRIMARY"
        [noAnimation]="true"
        class="ras-mx-2"
        >Button</ras-button
    >
    <ras-button
        [color]="themeService.ThemeColor.PRIMARY"
        class="ras-mx-2"
        [loader]="true"
        [noAnimation]="true"
        >Button</ras-button
    >

    <ras-button
        [color]="themeService.ThemeColor.PRIMARY"
        type="outline"
        [noAnimation]="true"
        class="ras-mx-2"
        >Button</ras-button
    >
    <ras-button
        [color]="themeService.ThemeColor.PRIMARY"
        type="outline"
        [loader]="true"
        [noAnimation]="true"
        class="ras-mx-2"
        >Button</ras-button
    >

    <ras-button
        [color]="themeService.ThemeColor.PRIMARY"
        shape="square"
        [noAnimation]="true"
        class="ras-mx-2"
        ><ras-icon [icon]="icon"></ras-icon
    ></ras-button>
    <ras-button
        [color]="themeService.ThemeColor.PRIMARY"
        shape="square"
        [loader]="true"
        [noAnimation]="true"
        class="ras-mx-2"
    ></ras-button>

    <ras-button
        [color]="themeService.ThemeColor.PRIMARY"
        shape="square"
        type="outline"
        [noAnimation]="true"
        class="ras-mx-2"
        ><ras-icon [icon]="icon"></ras-icon
    ></ras-button>
    <ras-button
        [color]="themeService.ThemeColor.PRIMARY"
        shape="square"
        type="outline"
        [loader]="true"
        [noAnimation]="true"
        class="ras-mx-2"
    ></ras-button>

    <ras-button
        [color]="themeService.ThemeColor.PRIMARY"
        shape="circle"
        [noAnimation]="true"
        class="ras-mx-2"
        ><ras-icon [icon]="icon"></ras-icon
    ></ras-button>
    <ras-button
        [color]="themeService.ThemeColor.PRIMARY"
        shape="circle"
        [noAnimation]="true"
        [loader]="true"
        class="ras-mx-2"
    ></ras-button>

    <ras-button
        [color]="themeService.ThemeColor.PRIMARY"
        shape="circle"
        type="outline"
        [noAnimation]="true"
        class="ras-mx-2"
        ><ras-icon [icon]="icon"></ras-icon
    ></ras-button>
    <ras-button
        [color]="themeService.ThemeColor.PRIMARY"
        shape="circle"
        type="outline"
        [noAnimation]="true"
        [loader]="true"
        class="ras-mx-2"
    ></ras-button>
</div>
<!-- NO ANIMATION  Button END -->

<!-- NORMAL Buttons START -->
<div class="ras-p-3">
    <div class="ras-py-2 ras-px-3">Size (PRIMARY)</div>
    <ras-button
        [color]="themeService.ThemeColor.PRIMARY"
        class="ras-mx-2"
        size="lg"
        >Button - lg</ras-button
    >
    <ras-button [color]="themeService.ThemeColor.PRIMARY" class="ras-mx-2"
        >Button - md</ras-button
    >
    <ras-button
        [color]="themeService.ThemeColor.PRIMARY"
        class="ras-mx-2"
        size="sm"
        >Button - sm</ras-button
    >
    <ras-button
        [color]="themeService.ThemeColor.PRIMARY"
        class="ras-mx-2"
        size="xs"
        >Button - xs</ras-button
    >
</div>
<!-- NORMAL Buttons END -->

<!-- LINK Button START -->
<div class="ras-p-3">
    <div class="ras-py-2 ras-px-3">LINK</div>
    <ras-button type="link" class="ras-mx-2">Button</ras-button>
</div>
<!-- LINK Button END -->
